<div class="messages-room">
  <%= render "rooms/side_bar" %>

  <div class="message-left">
    <div class="main-header">
      <%= render "rooms/main_header" %>
    </div>
    <%= render 'tag' %>
  </div>
</div>

