<ul class='room-lists'>
  <% @rooms.each do |room| %>
    <%= link_to room_messages_path(room.id), method: :get do %>
      <%room.tags.each do |tag| %>
        <% if tag.id == @tag.id %>
          <li class='room-list'>
            <%= room.title %>
            #<%=tag.name%>
          </li>
        <% end %>
      <%end%>
    <% end %>
  <% end %>
</ul>
