<div class="main" >
  <div class="main-header">
    <div class="main-header-content">
      <%= "新着ページ一覧" %>
    </div>
  </div>

  <div class="main-room">
    <div class="main-room-content">
      <%= "部屋一覧" %>
      <ul class='room-lists'>
        <% @rooms.each do |room| %>
          <li class='room-list'>
            <%= link_to room_messages_path(room.id), method: :get do %>
              <%= room.title %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>