<div class="main" >
  <div class="main-room">
    <div class="main-room-content">
      <ul class='room-lists'>
        <% @rooms.each do |room| %>
          <li class='room-list'>
            <%= link_to room_messages_path(room.id), method: :get do %>
              <%= room.title %>
            <% end %>
            <%room.tags.each do |tag| %>
              #<%=tag.name%>
            <%end%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>