<div class="side-bar">
   <div class="side-header">
     <div class="side-header-top">
       <%= link_to "TOP", root_path %>
     </div>
     <div class="side-header-create">
       <%= link_to "Room作成", new_room_path %>
     </div>
   </div>

   <div class="side-bottom">
     <div class="side-bottom-content">
      <ul class='room-lists'>

     </div>
     
     <%#= link_to "Tag一覧", tags_index_path %>

     <% if @room.present? %>
       <%= @room.title%>
     <% end %>
   </div>
</div>