<div class="side-bar">
   <div class="side-header">
     <div class="side-header-top">
       <%= "TOP" %>
     </div>
     <div class="side-header-create">
       <%= link_to "Room作成", new_room_path %>
     </div>
   </div>

   <div class="side-bottom">
     <div class="side-bottom-content">
      <ul class="genre-lists">
       <li class="genre-lists">ジャンル</li>
       <li class="genre-lists">アクション</li>
       <li class="genre-lists">学園</li>
      </ul>
     </div>
   </div>
</div>