<div class='chat-room-create'>
  <%= form_with model: @room, url: rooms_path, local: true do |f|%>
    <div class='room-create-form'>
      <%= f.text_area :title, class: "room-name", id: "room-name-id", placeholder:"ルーム名" %>
    </div>
    <div class="tag-create-form", id='tag-field'>
      <%= f.text_area :tag_name, class: "tag-name", id: "tag-id", placeholder:"タグを入力" %>
    </div>
    <div class='room-create-form-send'>
      <%= f.submit "作成", class: 'room-create-form-send-action' %>
    </div>
  <% end %>

  <%#= render "tags/index" %>
</div>