// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-list {
  margin-left: 50px;
  font-size: 35px;
}

.tag-room {
  background-color: #C0C0C0;
  width: calc(100vw - 200px);
  height: calc(100vh - 10vh);
}