// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hidden {
  display: none;
}

.message {
  border: 1px solid #808080;
  margin-bottom: 10px;
  background-color: white;
}

.messages {
  margin-top: 10px;
  width: 700px;
}

.upper-message {
  display: flex;
}

.message-user {
  font-size: 16px;
  margin: 0 20px 0 10px;
}

.message-content {
  margin-left: 20px;
  font-size: 20px;
}

.message-bottom {
  display: flex;
}

.side-room-lists {
  margin-left: 10px;
}

.message-side-bar {
  width: 200px;
}

.side-describe {
  padding: 10px 20px 0 20px;
}

.chat-room {
  margin: 0 20px;
  overflow: scroll;
  height: calc(100vh - 10vh);
  width: calc(100vw - 200px);
}

.message-image {
  padding: 0 20px;
}

.message-name {
  width: 40vw;
  height: 20vh;
}

.messages-room {
  background-color: #C0C0C0;
}