body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

.room-index{
  display: flex;
  width: calc(100vw - 200px);
}

.side-header {
  background-color: aqua;
  width: 200px;
  height: 10vh;
  display: flex;
}

.side-header-top {
  font-size: 18px;
  padding-top: 20px;
  margin-left: 20px;
}

.side-header-create {
  font-size: 18px;
  padding-top: 20px;
  margin-left: 40px;
}

.side-bottom {
  background-color: #99FF99;
  width: 200px;
  height: calc(100vh - 10vh);
}

.side-bottom-content {
  font-size: 20px;
}

.main-header {
  background-color: #66CCFF	;
  width: calc(100vw - 200px);
  height: 10vh;
  display: flex;
  Justify-content: space-between
}

.main-header-content {
  font-size: 25px;
  padding-top: 15px;
  padding-left: 20px;
}

.main-room {
  background-color: #C0C0C0;
  width: calc(100vw - 200px);
  height: calc(100vh - 10vh);
  overflow: scroll;
}

.main-room-content {
  font-size: 35px;
}

.room-list {
  margin-left: 50px;
}

.lists-right {
  font-size: 15px;
  margin-top: 10px;
  margin-right: 40px;
  list-style: none;
}

.header {
  display: flex;
}

.chat-room-create {
  margin-left: 20px;
  margin-top: 20px;
}

.search-room {
  font-size: 35px;
}

.room-search {
  background-color: #C0C0C0;
}

.search-room-form {
  font-size: 35px;
}

.search-tag-form {
  display: flex;
}

.tag-link {
  text-decoration: none;
}